<app-carousel></app-carousel>
<div class="container-fluid head-container">
    <div class="col-md-8 offset-md-2">
        <div class="col-md-8">
            <div class="col-md-12 block-container">
                <h3>Applauded Attended Strangers</h3>
                <div class="sec-row">
                    <div>Author</div>
                    <div>24/09/2019</div>
                    <div>0</div>
                </div>
                <div class="pic-row">
                    <img src="assets/images/bg-1.jpg" alt="">
                </div>
                <div class="para-row">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged.
                    </p>
                    <button class="btn btn-primary">Continue Reading</button>
                </div>
            </div>

            <div class="col-md-12 block-container">
                <h3>Applauded Attended Strangers</h3>
                <div class="sec-row">
                    <div>Author</div>
                    <div>24/09/2019</div>
                    <div>0</div>
                </div>
                <div class="pic-row">
                    <img src="assets/images/bg-1.jpg" alt="">
                </div>
                <div class="para-row">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged.
                    </p>
                    <button class="btn btn-primary">Continue Reading</button>
                </div>
            </div>

            <div class="col-md-12 block-container">
                <h3>Applauded Attended Strangers</h3>
                <div class="sec-row">
                    <div>Author</div>
                    <div>24/09/2019</div>
                    <div>0</div>
                </div>
                <div class="pic-row">
                    <img src="assets/images/bg-1.jpg" alt="">
                </div>
                <div class="para-row">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged.
                    </p>
                    <button class="btn btn-primary">Continue Reading</button>
                </div>
            </div>

            <div class="col-md-12 block-container">
                <h3>Applauded Attended Strangers</h3>
                <div class="sec-row">
                    <div>Author</div>
                    <div>24/09/2019</div>
                    <div>0</div>
                </div>
                <div class="pic-row">
                    <img src="assets/images/bg-1.jpg" alt="">
                </div>
                <div class="para-row">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged.
                    </p>
                    <button class="btn btn-primary">Continue Reading</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>

</div>